[submodule "db-chimera-kings"]
	path = db-chimera-kings
	url = https://github.com/5enthilbaliah/db-chimera-kings.git
[submodule "cache-chimera-kings"]
	path = cache-chimera-kings
	url = https://github.com/5enthilbaliah/cache-chimera-kings.git
