[submodule "chimera-kings-db"]
	path = chimera-kings-db
	url = https://github.com/5enthilbaliah/chimera-kings-db.git
[submodule "chimera-kings-cache"]
	path = chimera-kings-cache
	url = https://github.com/5enthilbaliah/chimera-kings-cache.git
